/* UTILITIES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .logo ,.header {
    font-family: cursive;
    text-align: center

  }
  
  a {
    text-decoration: none;
  }
  
  li {
    list-style: none;
  }
  /* NAVBAR STYLING STARTS */
  .navbar {
    display: flex;
    align-items: center;
    padding: 5px;
    background-color: rgb(2, 0, 1);
    color: #fff;
  }
  
  .nav-links a {
    color: #fff;
  }
  
  /* LOGO */
  .logo {
   img{
    width: 50%;
    height: 50%;
   }

  }
  
  /* NAVBAR MENU */
  .menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
  }
  
  .menu li:hover {
    background-color: #4c9e9e;
    border-radius: 5px;
    transition: 0.3s ease;
  }
  
  .menu li {
    padding: 5px 14px;
  }

  .active{
    background-color: #4c9e9e;
    background-size: 320%;
    border-radius: 5px;
  }
  

  
  .dropdown {
    background-color: rgb(24, 26, 26);
    padding: 1em 0;
    position: absolute; /*WITH RESPECT TO PARENT*/
    display: none;
    border-radius: 8px;
    top: 35px;
  }
  
  .dropdown li + li {
    margin-top: 10px;
  }
  
  .dropdown li {
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
  }
  
  .dropdown li:hover {
    background-color: #4c9e9e;
  }
  
  
  /* RESPONSIVE NAVBAR MENU STARTS */
  
  /* CHECKBOX HACK */
  
  input[type=checkbox] {
    display: none;
  } 
  
  /* HAMBURGER MENU */
  .hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
  }
  /*Footer*/
  footer{
    background-color: rgb(44, 41, 41);
    color:white ;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
  }
  
  /*TOPIC*/
  header{
    text-align: left;
    text-decoration: underline;
  }
  
  .content{
    text-align: center;
    display: block;
    img{
      width: 300px;
      height: auto;
      vertical-align: center;
    }
    p{
      font-size: large;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-weight: 600;
    }

    h2{
     font-family: cursive;
    }
  
  }

  

  /* APPLYING MEDIA QUERIES */
  @media (max-width: 768px) {
   .menu {
      display: none;
      position: absolute;
      background-color:rgb(17, 17, 17);
      right: 0;
      left: 0;
      text-align: center;
      padding: 16px 0;
    }
  
    .menu li:hover {
      display: inline-block;
      background-color:#0c0c0c;
      transition: 0.3s ease;
    }
  
    .menu li + li {
      margin-top: 12px;
    }
  
    input[type=checkbox]:checked ~ .menu {
      display: block;
    }
  
    .hamburger {
      display: block;
    }

    p{
      width: 100%;
      font-size: smaller;
      text-align:center;
    }
  }